@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Titillium+Web:wght@400;600;700&display=swap");
/* GLOBAL RESET */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* IMPORT THE FONT/S YOU WANT */
/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Titillium+Web:wght@400;600;700&display=swap"); */

html {
  font-size: 100%;
} /*16px*/

/* SET GLOBAL VARIABLES */
:root {
  /* colors / MAKE Your own palette*/
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --grey-apple: rgb(153, 153, 153);
  --grey-apple-bg: rgb(251, 251, 253);

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts Change These */
  --headingFont: "Titillium Web", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem; /* 4px */
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
/* THE FOLLOWING STYLES WILL BE PROVIDED BY type-scale.com */
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  color: var(--textColor);

  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  /* margin-bottom: 1.38rem; */
  font-family: "Roboto";
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 1;

  /* Extra Styles */
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
/* FONT SIZES FOR MOBILE ---- 1.2-Minor Third */
h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

/* FONT SIZES FOR BIGGER DISPLAY */
@media screen and (min-width: 800px) {
  h1 {
    margin-top: 0;
    font-size: 7.594rem;
  }

  h2 {
    font-size: 5.063rem;
  }

  h3 {
    font-size: 3.375rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  small,
  .text_small {
    font-size: 0.667rem;
  }
}
/* SOME ADDITIONAL STUFF */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

/* ====================================================== */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  /* If you dont give a width of 100% div the box will shrink to content size */
  width: 100%;

  background: var(--white);
  box-shadow: var(--shadow-1);
  z-index: 3;
}

.nav-center {
  width: 100%;
  /* 1170px for all major site sections and nav */
  max-width: 1170px;
  /* top bottom = 0, and left right = auto for centering */
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.875rem;
  color: var(--grey-apple);

  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: scale(1.1);
}

.nav-link {
  /* display block to appy margins and padding to <a> */
  display: block;
  padding: 1rem 2rem;

  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--letterSpacing);

  color: var(--grey-900);

  transition: var(--transition);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--grey-50);
  background: var(--grey-apple);
  padding-left: 2.5rem;
}

.nav-links {
  /* hidden by default on MOBILE DISPLAY */
  height: 0;
  overflow: hidden;

  transition: var(--transition);
}

.show-links {
  height: 180px;
}

/* MEDIA QUERY FOR LARGE DISPLAY */
@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header,
  .nav-link,
  .nav-link:hover {
    padding: 0;
  }
  .nav-bar {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-right: 3rem;
    font-size: 1.4rem;
  }
  .nav-link:hover {
    background: none;
    color: var(--grey-500);
  }
}
/* SECTION CENTER GLOBAL STYLE */
.video-section {
  background: var(--white);
  padding: 5rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-container {
  max-width: 12rem;
}
.img-container .img {
  border-radius: 50%;
  box-shadow: var(--shadow-3);
}

.section-title h2 {
  text-transform: uppercase;
}
.section-title h2 span {
  color: var(--clr-grey-5);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* Banner */
.hero {
  padding-top: 10rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;

  background: 
  /* linear-gradient(
      rgba(153, 153, 153, 0.7),
      rgba(153, 153, 153, 0.7)
    ), */ url("./images/main-mobile.jpg")
    center/cover no-repeat;
  /* background-attachment: fixed; */
}
.hero-banner {
  text-align: center;
  color: var(--black);
}
.hero-banner h4 {
  font-weight: 400;
}
.hero-banner h1 {
  font-weight: 600;
  margin-bottom: 18rem;
}

.hero-btn {
  color: var(--white);
  background: rgba(153, 153, 153, 0.7);
  border: transparent;
  padding: 1rem 2rem;
  transition: var(--transition);
  border-radius: var(--borderRadius);
}
.hero-btn:hover {
  background: var(--grey-300);
  border-radius: var(--borderRadius);
  color: var(--grey-900);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 5rem;
    background: url("./images//main-desktop.jpg") center/cover no-repeat;
    /* background-attachment: fixed; */
    overscroll-behavior-block: unset;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner h1 {
    margin-bottom: 1.5rem;
  }
  .hero-btn {
    padding: 0.5rem 1rem;
  }
}
/* video */
.video-section .section-title h4 {
  font-weight: 600;
  text-decoration: underline;
  line-height: 1.3;
}
.video-section-center {
  display: flex;
  justify-content: center;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  max-width: 992px;
}

@media screen and (min-width: 992px) {
  .video-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .video-container {
    margin: 0 10rem;
    padding: 10rem 0;
  }
  .video-section .section-title {
    margin-right: 10rem;
  }
}

* {
  /* border: 2px solid red; */
}

.qualities {
  /* border: 4px solid blue; */
  background: var(--grey-apple-bg);
  padding-top: 4rem;
}
.qualities .section-title h3 {
  /* text-decoration: underline; */
  font-weight: 600;
  text-decoration: underline;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.quality {
  text-align: center;
  margin-bottom: 3rem;
}
.quality-icon {
  font-size: 2rem;
  font-weight: 200;
  color: var(--grey-apple);
  display: inline-block;
  /* padding: 0.5rem; */
  margin-bottom: 0.5rem;
}

.quality-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  .qualities-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .quality {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .quality {
    flex: 0 0 calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .quality {
    display: flex;
    text-align: left;
    justify-content: center;
  }
  .quality-icon {
    align-self: flex-start;
  }

  .quality-info {
    padding-left: 1rem;
  }
  .quality-title {
    margin-bottom: 0.5rem;
  }
}
